* {
    padding: 0;
    margin: 0;
}
#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#keys {
    /* display: grid;
    grid-template-columns: repeat(4, 100px);
    background-color: rgb(66, 64, 64);
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    height: 600px;
    width: min-content;
    border-radius: 10px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50vw;
    height: 70vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 2vw;
}
#display {
    font-size: 8vw;
    margin-top: 25px;
    background-color: rgb(191, 185, 185);
    border: 0;
    border-radius: 2vw;
    width: 50vw;
    aspect-ratio: 5/1;
}
.items, #equal {
    
    background-color: rgb(99, 98, 98);
    width: 4vw;
    aspect-ratio: 1/1;
    font-size: 8vw;
    text-align: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    flex: 0 0 calc(25% - 10px);
}
.pointer {
    cursor: pointer;
}
button:active {
    background-color: yellow;
}
button:hover {
    background-color: rgb(191, 185, 185);
}
.item-2, .item-3, .item-4, .item-8, .item-12, .item-16, .item-20 {
    background-color: rgb(11, 210, 147);
}
.item-1 {
    background-color: rgb(255, 0, 13);
}